---
title: BehaWorks
description: Tím číslo 12.
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<section class="hero" style="">
	<div class="text-container">
		<div class="text editable">
		<h1><strong>BehaWorks.</strong></h1>
		<p>Tím číslo 12</p>
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2 style="text-align: center;"><strong>O PROJEKTE</strong></h2>
				<p style="text-align: justify;">Cieľom projektu je vytvoriť systém na úspešnú identifikáciu používateľa na základe jeho biometrických čŕt. Systém bude webová služba ponúkajúca vytvorenie modelov ľubovoľného počtu používateľov uložených v databáze a identifikáciu z danej množiny používateľov. Funkčnosť systému bude demonštrovaná na vzorovej aplikácii. </p>
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="row">
				<div class="col-md-6">
					<div class="image">


					<div class="square-image"><img src="{{ site.baseurl }}/images/identification.png" alt="Jim James" class="editable"></div>
					<div class="text editable">
						<p>Registrácia nového používateľa na základe biometrických charakteristík.</p>
					</div>
					</div>
				</div>
				<div class="col-md-6">
				<div class="image">
					<div class="square-image"><img src="{{ site.baseurl }}/images/registration.png" alt="Jim James" class="editable"></div>
					<div class="text editable">
						<p>Schopnosť identifikovať existujúceho používateľa počas používania aplikácie vo VR pomocou biometrických charakteristík.</p>
					</div>
				</div>
			</div>

			</div>
		</div>
	</section>


	<section class="bottom-cta">
		<div class="container">
			<h2 style="text-align: left;"><strong>KONTAKTUJTE NÁS</strong> </h2>
			<h2 style="text-align: left;">FIIT.team12.2019@gmail.com</h2>
		</div>
	</section>
</div>
