---
title: Dokumentácia stretnutí
description:
---

<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2 class="text-center" id="metodiky" style="padding-top:30px">Metodiky</h2>
				<div class="col-md-12">
					<table class="table" style="width:100%">
						<thead>
						<tr>
							<th style="padding-right: 70%" color="408f1a">Popis</th>
							<th style="padding-right: 130%"  color="408f1a">Dátum</th>
							<th style="width: 1%" color="408f1a">Stiahni</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Motodika plánovania a uzatvárania šprintov</td>
							<td>31. 10. 2019</td>
							<td>
								<a href="../documents/metodika_planovania_a_uzatvorenia_sprintu.pdf" download="">
									<img src="../images/pdf-file.svg" height="20px" width="15px"  >
								</a>
							</td>
						</tr>
						<tr>
							<td>Metodika konvencie</td>
							<td style="width: 50%">31. 10. 2019</td>
							<td>
								<a href="../documents/metodika_konvencie.pdf" download="">
									<img src="../images/pdf-file.svg" height="20px" width="15px"  >
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2 class="text-center" id="odovzdane_doku" style="padding-top:30px">Odovzdané dokumenty</h2>
				<div class="col-md-12">
					<table class="table" style="width:100%">
						<thead>
						<tr>
							<th style="padding-right: 70%" color="408f1a">Popis</th>
							<th style="padding-right: 130%"  color="408f1a">Dátum</th>
							<th style="width: 1%" color="408f1a">Stiahni</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Motivačný dokument</td>
							<td>25. 09. 2019</td>
							<td>
								<a href="../documents/tim12_tema09-06-11_2019.pdf" download="">
									<img src="../images/pdf-file.svg" height="20px" width="15px"  >
									</a>
							</td>
						</tr>
						<tr>
							<td>Prihláška na TP Cup</td>
							<td style="width: 50%">16. 10. 2019</td>
							<td>
								<a href="../documents/tpcup2019-tim12.pdf" download="">
									<img src="../images/pdf-file.svg" height="20px" width="15px"  >
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2 class="text-center" id="prilohy" style="padding-top:30px">Prílohy na stiahnutie</h2>
				<div class="col-md-12">
					<table class="table" style="width:100%">
						<thead>
						<tr>
							<th style="padding-right:90%" color="408f1a">Popis</th>
							<th style="padding-right:50%" color="408f1a">Dátum</th>
							<th style="width:1%" color="408f1a">Stiahni</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Logo tímu</td>
							<td>10. 10. 2019</td>
							<td>
								<a href="../attachment/logo.zip" download="">
									<img src="../images/zip.svg" height="20px" width="15px"  >
								</a>
							</td>
						</tr>
						<tr>
							<td>Plagát tímu</td>
							<td>12. 10. 2019</td>
							<td>
								<a href="../attachment/PlagatTP.png" download="">
									<img src="../images/png.svg" height="20px" width="15px"  >
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>

